.page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #347fc9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 1440px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

/* Шапка */
.header {
    background: linear-gradient(
        90deg, 
        #000000F7 10%,
        #2D78D3C6 25%,
        #48B8FBF7 50%,
        #020202F7 90%
    );
    color: white;

}

.header__container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header__logo img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.header__site-name {
    color: #B1BECE;
    text-shadow: 0px 4px 2.4px 0px #2D7199;
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    margin-left: 10px;
    font-size: 36px;
    font-weight: bold;
}

.header__nav {
    margin-left: auto;
}

.header__nav-button {
    backdrop-filter: blur(2px);
    box-shadow: 0px 3px 10.4px -2px #45B0F0D4 inset;
    background: linear-gradient(90deg, #3B617F 0%, #061119 100%);
    width: 125px;
    height: 50px;
    padding: 5px 10px;
    border-radius: 18px;
    cursor: pointer;
    margin-right: 50px;
}

.header__nav-button:hover {
    background: white; 
    color: #2D78D3C6;
}

.header__nav-link {
    color: white; 
    text-decoration: none; 
    font-size: 16px;
    opacity: 0px;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-decoration-skip-ink: none;
}

.header__nav-button:hover .header__nav-link {
    color: #2D78D3C6; 
}

/* Фото с текстом */
.hero {
    position: relative;
    width: 100%;
    height: 444px;
    overflow: hidden;
}

.hero__image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero__text {
    width: 1046px;
    height: 311px;
    left: 53px;
    top: 123px;
    position: absolute;
    color: rgb(185, 183, 183);
    font-family: 'Jura', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 56.78px;
    text-align: left;
    text-decoration-skip-ink: none;

}

.content__back {
    background: linear-gradient(#000000,
     #143041,
      #3382B1);
    height: 100vh;
}

/* Тело сайта */
.content {
    display: flex;
    padding: 20px;
}

.content__left-text {
    width: 672px;
    height: 177px;
    top: 626px;
    margin-left: 57px;
    color: white;
    flex: 1;
    margin-right: 100px;
}

.content__left-text_first {
    font-family: 'Geologica', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    height: 108px;
}

.content__left-text_second {
    width: 643px;
    height: 45px;
    top: 758px;
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
    text-align: left;
}

.content__file-upload {
    flex: 1;
    border: 2px dashed #007BFF;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.content__file-input {
    display: none;
}

.content__file-label {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 50px 100px 10px 0;
    font-weight: bold;
    cursor: pointer;
    color: #666;
}

.content__file-hint {
    font-size: 14px;
    color: #666;
}

/* Элемент для отображения загруженного изображения */
.content__preview {
    color: #666;
    margin-top: 50px;
    text-align: center;
}

.content__preview img {
    max-width: 441px;
    max-height: 382px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Плашки */
.accordion {
    font-family: 'Geologica', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: white;
    margin: 100px 0;
    width: 645px;
    height: 77px;
    gap: 0px;
    opacity: 0px;
    margin-left: 64px;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
}

.accordion__content {
    display: none;
    padding: 20px;
}

.accordion__content.open {
    display: block;
}

.accordion__example {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.accordion__example-image {
    width: 48%;
    height: auto;
}

.accordion__description {
    font-size: 16px;
    line-height: 1.5;
}

/* Подвал */
.footer {
    height: 51px;
    margin: 0 auto;
    background: #143041;
    color: white;
    padding: 0;
    text-align: center;
    width: 1440px;
}

.footer__container {
    width: 1440px;
    height: 51px;
    margin: 0 auto;
}

.footer__copyright {
    margin: 5px 0;
}

.footer__email {
    margin: 5px 0;
}
